@import "bower_components/pure/pure.css";
@import "bower_components/font-awesome/less/font-awesome.less";
@fa-font-path: "bower_components/font-awesome/fonts";

/* Component LESS */
/* Add Component LESS Above */

html, body, div[ui-view] {
  height: 100%;
}

body {
  color: #fff;
  font-size: .9em;
  background: url('images/background.jpg') no-repeat center center;
  background-size: cover;
}

div[ui-view] {
  background-color: rgba(0,0,0,.8 )
}

.perk {
  width: 75px;
  height: 75px;
  line-height:75px;
  text-align:center;
  border: solid 5px transparent;
  border-radius: 50%;
  background: #333;
  color: #fff;
  opacity:.6;
  letter-spacing: normal;
}

.all-perks .perk.available {
  opacity: 1
}

.all-perks .perk.selected {
background-color: #2ecc71;
border-color: #27ae60;
}

.slotted-perks .perk {
opacity: 1
}

.pure-u-5-12 {
  box-sizing: border-box;
  padding: 0 20px;
}


.perk-group-header {
  display: block;
  margin: 0 0 1em;
  color: #2ecc71;
  border-bottom: solid 1px #2ecc71;
}

.perk-label-basic {
  color: #95F285;
  border-color: #95F285;
}

.perk-label-intermediate {
  color: #F4F993;
  border-color: #F4F993;
}

.perk-label-advanced {
  color: #8989F9;
  border-color: #8989F9;
}

.perk-label-master {
  color: #FFB042;
  border-color: #FFB042;
}
