@import "bower_components/pure/pure.css";
@import "bower_components/font-awesome/less/font-awesome.less";
@fa-font-path: "bower_components/font-awesome/fonts";

/* Component LESS */
/* Add Component LESS Above */

body {
  font-size: .9em;
}

.perk {
  width: 90px;
  height: 90px;
  line-height:90px;
  text-align:center;
  border: solid 5px transparent;
  border-radius: 50%;
  background: #333;
  color: #fff;
  opacity:.6;
  letter-spacing: normal;
}

.all-perks .perk.available {
  opacity: 1
}

.all-perks .perk.selected {
background-color: #2ecc71;
border-color: #27ae60;
}

.slotted-perks .perk {
opacity: 1
}

.pure-u-5-12 {
  box-sizing: border-box;
  padding: 0 20px;
}
