@import "bower_components/bootstrap/less/variables.less";
@import "bower_components/bootstrap/less/mixins.less";
@import "bower_components/bootstrap/less/tooltip.less";
@import "bower_components/bootstrap/less/popovers.less";
@import "bower_components/bootstrap/less/dropdowns.less";
@import "bower_components/bootstrap/less/buttons.less";
@import "bower_components/font-awesome/less/font-awesome.less";
@fa-font-path: "bower_components/font-awesome/fonts";

@font-face {
  font-family: 'Eurostile Demi';
  src: url(/fonts/Eurostile-Demi.ttf);
}

/* latin-ext */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/Ubuntu-Medium.ttf'), url(http://fonts.gstatic.com/s/ubuntu/v7/gMhvhm-nVj1086DvGgmzB4X0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/Ubuntu-Medium.ttf'), url(http://fonts.gstatic.com/s/ubuntu/v7/OsJ2DjdpjqFRVUSto6IffIX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* latin-ext */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Ubuntu-Regular.ttf'), url(http://fonts.gstatic.com/s/ubuntu/v7/Zcmru5bcP_p_TwCNg-F3DH-_kf6ByYO6CLYdB4HQE-Y.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Ubuntu-Regular.ttf'), url(http://fonts.gstatic.com/s/ubuntu/v7/zvCUQcxqeoKhyOlbifSAaX-_kf6ByYO6CLYdB4HQE-Y.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* Component LESS */
/* Add Component LESS Above */

html, body, div[ui-view] {
  height: 100%;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  color: #fff;
  font-size: .9em;
  font-family: 'Eurostile Demi', sans-serif;
  background-size: cover;
}

.pure-g [class *= "pure-u"] {
  font-family: 'Eurostile Demi', sans-serif;
}

.pure-g {
  display: block;
}

div[ui-view] {

}

#container {
  padding: 30px;
  background-color: rgba(0,0,0,1);
}

.perk {
  width: 60px;
  height: 60px;
  box-sizing: border-box;
  padding: 5px 0 0;
  text-align:center;
  border: solid 2px white;
  border-radius: 50%;
  background: #333;
  color: #fff;
  opacity:.2;
  letter-spacing: normal;
  margin-bottom: 5px;
  margin-right: 5px;
  display: inline-block;
}

#points {
  font-size: 1.5em;
  width: 150px;
  text-align: center;
  margin: 10px auto 2px;
  display: block;
}

.perk-group {
  margin-bottom: 10px;
  text-align: center;
}

.all-perks .perk.available {
  opacity: 1
}

#gutter {
  box-sizing: border-box;
  border-left: 2px solid #222;
  border-right: 2px solid #222;
}

#header {
  border: 2px solid #414141;
  background: #161616;
  border-radius: 5px;
  height: 50px;
  margin-bottom: 20px;
  padding-top: 15px;
  padding-left: 15px;
  padding-bottom: 0px;
}

.all-perks .perk.selected {
  border-color: #1A8A0D;
  background: rgba(0,30,0,1);
}

.slotted-perks {
  text-align: center;
  box-sizing: border-box;

  .perk {
    opacity: 1;
    border-color: #1A8A0D;
    background: rgba(0,30,0,1);
  }

  .perks-container {
    text-align: center;
    border-top: 3px solid #444;
    padding-top: 10px;
    min-height: 130px;
  }

  .frameName {
    text-align: right;
    width: 62.5%
  }

  table {
    width: 100%;
    margin: 0 auto;
  }

  table td {
    padding: 5px;
  }

  .requiredFrames {
    border-top: 3px solid #444;

    .requiredFrame {
      display: inline-block;
      width: 48px;
      box-sizing: border-box;
      padding: 5px 0 0;
      margin-bottom: 5px;
      margin-right: 5px;

      span {
        color: #1A8A0D;
      }
    }
  }



}

.fixed {
  position: fixed;
}


#perksRundown {
  box-sizing: border-box;
  padding: 0px 15px;

  .perk {
    float: left;
    width: 48px;
    height: 48px;

    img {
      width: 36px;
      height: 36px;
    }
  }

  .perkDefinition {
    clear: both;
  }

  dt {
    color: #1A8A0D;
    margin-bottom: 2px;

    span {
      font-size: 0.7em;
    }

    span:nth-child(n+2):before {
      content: '/';
    }
  }

  dd {
    margin-bottom: 10px;
  }
}

.pure-u-5-12, .pure-u-13-24 {
  box-sizing: border-box;
  padding: 0 10px;
}


.perk-group-header {
  display: block;
  margin: 0 0 1em;
  color: #2ecc71;
  border-bottom: solid 1px #2ecc71;
  font-size: 1.5em;
  text-align: left;
}

.perk-group-header .cost {
  color: #fff;
  float: right;
}

.perk-label-Basic {
  color: #95F285;
  border-color: #95F285;
}

.perk-label-Intermediate {
  color: #F4F993;
  border-color: #F4F993;
}

.perk-label-Advanced {
  color: #8989F9;
  border-color: #8989F9;
}

.perk-label-Master {
  color: #FFB042;
  border-color: #FFB042;
}

.popover {
  padding: 5px;
  background: rgba(0,0,0,.8);
  border: 1px solid #444;
  letter-spacing: normal;
  font-family: 'Ubuntu', sans-serif;

  .popover-header {
    padding: 9px 9px;
    background: #000;
    border-bottom: 2px solid #fff;
    line-height: 1.2em;

    .title {
      font-weight: 500;
      font-size: 1.1em;

      span {
        font-size: 0.5em;
        font-weight: 400;
        float: right;
      }

      span:nth-child(n+2)::after {
        content: '/'
      }
    }

    .locked {
      margin: 0;
      color: red;
      font-weight: 500;
    }
  }

  .popover-content {
    background: #000;
    padding: 2px 9px;

    p {
      line-height: 1.5em;
    }

    .description {
      margin-top: 2px;
    }

    .requirements {
      margin-top: 15px;
      margin-bottom: 0px;
    }
  }
}

.popover.requirement {
  padding: 5px;

  .popover-content {
    padding: 5px;

    p {
      margin: 0;
    }
  }
}

.dropdown-menu {
  background-color: rgba(0,0,0,0.9);
  border: 2px solid #666;
  color: #fff;
}

.dropdown-header {
  color: #aaa;
}

.dropdown-menu > li > a {
  // border-top: 1px solid #777777;
  padding: 3px 25px;
  color: #fff;
}

.btn {
  background: #333;
  font-family: 'Eurostile Demi';
  color: #fff;
  border: 1px solid #777;
}

.btn:hover, .btn:focus {
  background: #fff;
  color: #333;
}
