<div class="pure-g">
  <form class="pure-form pure-u-1-6">
    <div class="frame pure-g" ng-repeat="suit in suits">
      <label class="pure-u-3-4">
        <input type="radio" name="suited" ng-value="suit" ng-model="$parent.currentSuit" ng-change="updatePerkAvailability()" /> {{ suit.name }}
      </label>
      <div class="pure-u-1-4">
        <input ng-model="suit.level" class="pure-u-1" />
      </div>
    </div>
  </form>

  <div class="pure-u-5-12 all-perks">
    <div class="pure-menu pure-menu-open pure-menu-horizontal">
      <ol>
        <li><a ng-click="regroup('concern')">Concern</a></li>
        <li><a ng-click="regroup('cost')">Cost</a></li>
        <li><a ng-click="regroup('frame')">Frame</a></li>
      </ol>
    </div>
    <div class="perk-group" ng-repeat="(group, items) in groupedPerks">
      <h1>{{ $parent.group }}: {{group}}</h1>
      <div class="pure-g">
        <a ng-repeat="item in items" ng-click="togglePerk(item)" class="perk" ng-class="{ selected: item.selected, available: item.available }">{{ item.name }}</a>
      </div>
    </div>
  </div>

  <div class="pure-u-5-12 slotted-perks">
    {{ points }}/100

    <div ang:chartjs:doughnut
      data-chartjs-model="donut"
      data-chartjs-width="200"
      data-chartjs-height="200"
      data-chartjs-animation="false"
      data-chartjs-percentage-inner-cutout="80"></div>

    <div class="pure-g">
      <a ng-repeat="item in perks | filter:{ selected: true }" ng-click="togglePerk(item)" class="perk">{{ item.name }}</a>
    </div>
  </div>
</div>
