<div class="pure-menu pure-menu-open pure-menu-horizontal " style="position: fixed">
  <a href="/" class="pure-menu-heading">
    <img src="/images/omnidyne-m.png" style="float: left; margin-right: 5px;" height="32" width="32"/>
    <span style="margin-top: 7px; margin-left: 5px;display: block;">Omnidyne-M</span>
  </a>
  <ul style="left: 10px;">
    <li class="pure-menu-selected"><a href="/#/perks">Perks</a></li>
  </ul>
</div>

<div class="pure-g" id="container" style="padding-top: 50px; position: relative;">
  <div class="pure-u-1-1" id="header">
    <div class="left">
      <label>SELECT A FRAME</label>
      <button type="button" class="btn btn-md" data-animation="am-flip-x" bs-dropdown="groupedSuits" data-template="dropdowns/frames.tpl.html">
        <img ng-src="/images/frames/{{currentSuit.thumb}}" width="18" height="18" style="float: left;margin-right: 2px;" ng-hide="!currentSuit" />
        {{ currentSuit.name }}
      </button>

      <label>FILTER PERKS</label>
      <button type="button" class="btn btn-md" data-animation="am-flip-x" bs-dropdown="tags" data-template="dropdowns/tags.tpl.html">
        <img ng-src="/images/tags/{{currentTag.thumb}}" width="18" height="18" style="float: left;margin-right: 2px;" ng-if="currentTag"/>
        {{ currentTag.name || 'ALL' }}
      </button>
    </div>

    <share
      perks-hash="perksHash"
      ng-hide="!perksHash">
    </share>
  </div>
  <div class="pure-u-5-12 all-perks">

    <div class="perk-group " ng-repeat="(group, items) in groupedPerks | orderBy:groupOrder">
      <div class="perk-group-header perk-label-{{ costs_map[group] }}">
        <span class="title">{{ costs_map[group] }}</span>
        <span class="cost">{{ group }} <img src="/images/perk_points.png" width="16" height="16" /></span>
      </div>
      <div class="pure-g">
        <perk
          ng-repeat="item in items | orderBy:'!available'"
          ng-class="{ selected: item.selected, available: item.available }"
          ng-click="togglePerk(item)"
          data="item"
          class="perk">
        </perk>
      </div>
    </div>

  </div>

  <div class="pure-u-7-12" bs-affix data-offset-top="-50" id="fixedBox">
    <div class="pure-g">
      <div class="pure-u-1-2 slotted-perks">
        <img ng-src="/images/frames/{{ currentSuit.image }}" title="{{currentSuit.name}}" width="250" height="250" style="opacity: 0.12;position: absolute;"/>
        <div ang:chartjs:doughnut
          data-chartjs-model="donut"
          data-chartjs-animation="false"
          data-chartjs-width="250"
          data-chartjs-height="250"
          data-chartjs-percentage-inner-cutout="80"
          data-chartjs-on-animation-complete="drawPointsLabel"
          data-chartjs-segment-stroke-color="#444"></div>

        <span id="points">{{ selected_perks_count }}/10</span>

        <div class="requiredFrames">
          <h2>Required Frame Levels</h2>
          <requirement
            ng-repeat="requirement in requirements | orderBy:'level':true"
            data="requirement">
          </requirement>
        </div>
      </div>

      <div class="pure-u-1-2" id="perksRundown">
        <h2>Selected Perks</h2>
        <dl>
          <div ng-repeat="perk in allPerks | filter:{selected: true}" class="perkDefinition">
            <perk
              ng-click="togglePerk(perk)"
              data="perk"
              class="perk selected">
            </perk>
            <dt>{{perk.name}} <img ng-repeat="tag in perk.tags" ng-src="/images/tags/{{tag}}.png" title="{{tag}}" width="18" height="18" /></dt>
            <dd>{{perk.desc}}</dd>
          </div>
        </dl>
      </div>
    </div>
  </div>
</div>

<!--
<a class="perk"

-->
