<div class="pure-menu pure-menu-open pure-menu-horizontal">
  <a href="/" class="pure-menu-heading">
    <img src="/images/omnidyne-m.jpg" style="filter: invert(100%); -webkit-filter: invert(100%);float: left; margin-right: 5px;" height="32" width="32"/>
    <span style="margin-top: 7px; margin-left: 5px;display: block;">Omnidyne-M</span>
  </a>
  <ul style="left: 10px;">
    <li class="pure-menu-selected"><a href="/#/perks">Perks</a></li>
  </ul>
</div>

<div class="pure-g" id="container">
  <div class="pure-u-1-1" id="header">
    <button type="button" class="btn btn-md" data-animation="am-flip-x" bs-dropdown="groupedSuits" data-template="dropdown.tpl.html">
      <img src="/images/frames/{{currentSuit.thumb}}" width="16" height="16" style="float: left;margin-right: 2px;"/>
      {{ currentSuit.name }}
    </button>

    <input ng-model="shareUrl" />
    <button ng-click="saveBuild()">Get URL</button>
  </div>
  <div class="pure-u-5-12 all-perks">

    <div class="perk-group" ng-repeat="(group, items) in groupedPerks | orderBy:groupOrder">
      <div class="perk-group-header perk-label-{{ costs_map[group] }}">
        <span class="title">{{ costs_map[group] }}</span>
        <span class="cost">{{ group }} <img src="/images/perk_points.png" width="16" height="16" /></span>
      </div>
      <div class="pure-g">
        <perk
          ng-repeat="item in items | orderBy:'!available'"
          ng-class="{ selected: item.selected, available: item.available }"
          ng-click="togglePerk(item)"
          data="item"
          class="perk">
        </perk>
      </div>
    </div>
  </div>

  <div class="pure-u-1-3 slotted-perks">

    <img src="/images/frames/{{ currentSuit.image }}" title="{{currentSuit.name}}" width="300" height="300" style="opacity: 0.12;position: absolute;"/>
    <div ang:chartjs:doughnut
      data-chartjs-model="donut"
      data-chartjs-animation="false"
      data-chartjs-width="300"
      data-chartjs-height="300"
      data-chartjs-percentage-inner-cutout="80"
      data-chartjs-on-animation-complete="drawPointsLabel"
      data-chartjs-segment-stroke-color="#444"></div>

    <span id="points">{{ selected_perks_count }}/10</span>
    <div class="pure-g perks-container">
      <a ng-repeat="item in perks | filter:{ selected: true }" ng-click="togglePerk(item)" class="perk">
        <img src="/images/perks/{{ item.image }}" title=" {{ item.name }}"/>
      </a>
    </div>

    <h2>Required Frame Levels</h2>
    <ul>
      <li ng-repeat="(frame, level) in requirements">{{frame}}: {{level}}</li>
    </ul>
  </div>

  <div class="pure-u-1-12">

  </div>
</div>

<!--
<a class="perk"

-->
