<div class="popover">
  <div class="popover-header">
    <div class="title">
      {{ perk.name }}
      <span ng-repeat="tag in perk.tags">{{tag}}</span>
    </div>
    <div>Perk Point Cost: {{ perk.cost }}</div>
    <p ng-if="!perk.available" class="locked">LOCKED</p>
  </div>
  <div class="popover-content">
    <p class="description">{{ perk.desc }}</p>
    <p ng-if="perk.frame" class="requirements">
      Required Unlocks: <br/>
      {{ perk.frame }} - Level {{ perk.level }}
    </p>
  </div>
</div>
