<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="modal-title">Share your build</h4>
      </div>
      <div class="modal-body">
        <p>Copy and paste this URL to share your perks build:</p>
        <input class="buildURL" readonly="readonly" ng-model="url" ng-click="select($event)" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
      </div>
    </div>
  </div>
</div>
